/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */
:root {
    --main-bg-color: #181818; 
    --main-ft-color: #e3e3e3;
}

/* main style */
body {
    background-color: #e3e3e3;

}

/* Typography */
h1 {
    color: #181818;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark){
    body {background-color: var(--main-bg-color);}
    h1 {color: var(--main-ft-color);}
}