/* Variables */
:root {
    --main-bg-color: #181818; 
    --main-ft-color: #e3e3e3;
}

/* main style */
body {
    background-color: #e3e3e3;

}

/* Typography */
h1 {
    color: #181818;
    text-align: center;
}